<html>
	<head>
		<link rel="stylesheet" href="css/main.css">
		<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body>
		<div class="container">
			Hello  {{user}} !<br/>
			
			Your oauth config is ready to use !!!
			
			<a href="main">Get calendars</a>
		</div>
		
	</body>
</html>