<html>
	<head>
		<link rel="stylesheet" href="css/main.css">
		<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body data-view-id="init">
		<div class="container">
			Hello  {{user}} !<br/>
			<br/>
			Click this <a href="{{url}}">Oauth2 Google</a>
		</div>
	</body>
</html>