<html>
	<head>
		<link rel="stylesheet" href="css/main.css">
		<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body>
		Oauth2Callback
		<br/>
		access_token:{{access_token}}<br/>
		refresh_token:{{refresh_token}} <br/>
		token_expiry:{{token_expiry}}
	</body>
</html>