body{
	background-color:white;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:500px;
	
}

.container{
	background-color: #f8fff1;
	padding:10px 5px;
}

.calendar h3{
	text-align: center;
}

.calendar .calendar_board td{
	width:40px;
	height: 50px;
	background-color: #fffbcb;
	border: #fff79a 1px solid;
	cursor: pointer;
}

.calendar .calendar_board td.period{
	background-color:red;
}

.calendar .calendar_board td.empty{
	background-color: #d8d6ba;
	border: #bcbaa2 1px solid;
	cursor: auto;
}